<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="static/css/style.css" />
</head>
<body>
	<header>
		<h1>{{ title }}</h1>
		<h5><em>VOL {{ edition }}: a review of the stories that made it to top 10</em></h5>
	</header>

	<main>
		{% for collection in collections %}
		<ul>
			<li>
				<h2>
					{% if loop.index == 1 %}
					Yesterday
					{% elif loop.index == 2 %}
					Two Days Ago
					{% else %}
					Three Days Ago
					{% endif %}
				</h2>
			</li>
			{% for item in collection %}
			{% if item['link'] %}
			<li>
				<a href="{{item['link']}}" target="_blank">
					{{ loop.index }}. {{item['title']}}
					{% if '.jpg' in item['link'] or '.jpeg' in item['link'] or '.gif' in item['link'] or '.png' in item['link'] %}
					<img class="lazy" data-original="{{item['link']}}" alt="{{item['title']}}">
					{% elif 'images' in item %}
					{% for image in item['images'] %}
					<img class="lazy" data-original="{{image['image']}}" alt="{{ item['title'] }}">
					{% if image['description'] %}
					<p>{{image['description']}}</p>
					{% endif %}
					{% endfor %}
					{% endif %}
				</a>

				{% if 'embed' in item %}
				<article data-video="{{ item['embed'] }}" data-original="http://img.youtube.com/vi/{{ item['embed'] }}/0.jpg">
					<div class="play"></div>
				</article>
				{% endif %}
			</li>
			{% endif %}
			{% endfor %}
		</ul>
		{% endfor %}
	</main>

	<script src="static/js/jquery.js" type="text/javascript"></script>
	<script src="static/js/jquery.lazyload.js" type="text/javascript"></script>
	<script src="static/js/main.js" type="text/javascript"></script>
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-46695876-1', 'kirillklimuk.com');
	ga('send', 'pageview');
	</script>
</body>
</html>